
<!-- NAVIGATION CONTAINER -->

<div class="navigationWhiteBackPlate"></div>

<div class="navigationContainer">

    <!-- Logo -->

    <div class="indexPageButtonsContainer">
        <button class="indexPageButton" onClick="window.open('makeReservation', '_self')">Make Reservation</button>
        <br>
        <button class="indexPageButton" onClick="window.open('barberPortal', '_self')">Barber Portal</button>
        <br>
        <button class="indexPageButton" onClick="window.open('services', '_self')">Services</button>
        <br>
        <button class="indexPageButton" onClick="window.open('contact', '_self')">Contact</button>
        <br>
    </div>

</div>