<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body" id="bg-carbon">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Fresh & Flow Barbershop</h1>
                        <h2 id="header-text">Years of Experience that can't be matched!</h2>
                        <h3 id="header-text2"><a id="loginNow" class="page-scroll" data-toggle="modal" data-target="#login-modal">Login Now</a> To Make An Appointment:</h3>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="contactL" id="feel">Feel Fresh & Flow</h1>
                <h4 class="contactL">Follow Us On...</h4>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.instagram.com/freshandflowbarbershop/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/FreshAndFlowBarbershop" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.yelp.com/biz/fresh-and-flow-barbershop-los-angeles" class="btn btn-default btn-lg"><i class="fa fa-yelp fa-fw"></i> <span class="network-name">Yelp</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <br>
    <br>



    <!-- Map Section need to FIX IMAGE SOURCE TO DISPLAY ON INDEX. -->
    <div>
    <img id="gmap" style="background: url(https://photos.google.com/direct/AF1QipNMN0sR-61JWcCZxBg4_EVPpnfwWNHL2O0D2FGoilES4EziMzzFrJfRX61M0rGhfA/photo/AF1QipNC6TRiTiVSUicT3VpzrHCybDMYkr88ZDIWFhwR) no-repeat center center scroll; alt="gmap"> 
    </div>
    <br>
    <br>



    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p id="footerNote">Copyright &copy; Fresh & Flow 2020</p>
        </div>
    </footer>