    <link rel="stylesheet" href="/assets/css/pricing.css">
    {{> nav }}
    {{> login-modal }}
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <img src="/assets/img/HaircutPricing/haircut.webp"
                        alt="Beard Trim and Haircut combo" style="width:100%">
                           
                          
                        </div>
                       
                        <div class="panel-body text-center">
                            <p><strong>Haircut - $30</strong></p>
                        </div>
                        <ul class="list-group text-center">
                             <li class="list-group-item"></i>  
                             <p>Traditional mens cut, line up, hot towel treatment, hot lather straight razor neck
                            trim, scalp massage & style. </p></li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Haircut</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Barber: John</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>

                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="#">BOOK NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                                <img src="/assets/img/HaircutPricing/shaveandhaircutcombo.webp"
                        alt="Beard Trim and Haircut combo" style="width:100%">
                            
                        </div>
                        <div class="panel-body text-center">
                         <p><strong>Shave & Haircut Combo - $50</strong></p>
                        </div>
                        <ul class="list-group text-center">
                             <li class="list-group-item"></i>  
			 <p>All the services of a haircut and straight razor shave combined. </p></li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="#">BOOK NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                           <img src="/assets/img/HaircutPricing/straightrazor.webp"  style="width:100%">
                        </div>
                       <div class="panel-body text-center">
                         <p><strong>Straight Razor Shave - $30</strong></p>
                        </div>
                        <ul class="list-group text-center">
                             <li class="list-group-item"></i>  
			 <p>Hot towel treatment, pre-shave creams, hot lather, oils, and after shave.</p></li>
                            {{!-- <li class="list-group-item"><i class="fa fa-check"></i> Personal use</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited projects</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li> --}}
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">BOOK NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->
    
    {{!-- Footer --}}
{{!-- 
    {{> footer }} --}}