  <link rel="stylesheet" href="/assets/css/appointmentsPortal.css">
    <link rel="stylesheet" href="/assets/css/grayscale.css">

    {{> nav }}
    {{> login-modal }}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br></br>

<!-- Max width 960px container -->
<div class="container mainContentContainer">         <!-- Put any bootstrap elements into class="container" to set max width to 960px and have it centered on page -->
    
    <!-- Row 1 -->
    <div class="row">
    <div class="col-md-6 offset-md-3">
        <button class="refreshDataButton">Refresh Data</button>
    </div>
    </div>

    <!-- Row 2 -->
    <div class="row mt-4">  <!-- m stands for margin, t stands for top, mt means margin top-->
    <div class="col-md-6 offset-md-3">
        <p class="selectBarberText">Select Barber:</p>
    </div>
    </div>
    
    <!-- Row 3 -->
    <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="form-group">
        <select class="custom-select" id="category">
            <option selected value="">All Barbers</option>
            <option value="Tony">Tony</option>
            <option value="Bob">Bob</option>
            <option value="Jim">Jim</option>
        </select>
        </div>
    </div>
    </div>

    <!-- Row 4 (Reservation Data from barberPortal.js populates inside class="reservation-container") -->
    <div class="row mt-2">    <!-- m stands for margin, t stands for top, mt means margin top-->
    <div class="col-md-6 offset-md-3 reservation-container"></div>
    </div>

    <br>

</div>

</div>